/* http://meyerweb.com/eric/tools/css/reset/
	v2.0 | 20110126
	License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	margin-left: 1.2rem;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End reset */

:root {
	--primary: goldenrod;
	--base: #404040;
	--bg: #fff;
	--primary-hover: #c8981e;
}

[data-theme='dark'] {
	--bg: #161618;
	--base: #FBF6E9;
}

html {
	font-family: 'Space Mono', monospace;
	scroll-behavior: smooth;
}

body {
	font-size: 1.6rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
	background-image: url('assets/bg.svg');
	background-color: var(--bg);
	color: var(--base);
	transition: background-color .25s ease-in-out,
				color .25s ease-in-out;
}

[data-theme='dark'] body {
	background-image: url('assets/bg-dark.svg');
}

section {
	margin-bottom: 6em;
}

.contain {
	padding: 0 2em 4em;
}

.notice {
	display: block;
	text-align: center;
	background-color: var(--primary);
	padding: .85em;
	color: var(--base);
	max-width: 100%;
	margin: 0 0 2em 0;
}

.notice p {
	font-size: .8rem;
	margin: 0;
}

.notice a {
	color: var(--bg);
}

.header {
	display: flex;
	margin-bottom: 4em;
}

.header p {
	margin: auto;
}

.header .avatar {
	margin: 0 1.5em 0 0;
}

.avatar {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	max-width: 100%;
	border: 4px solid var(--primary);
}

.footer {
	background-color: var(--bg);
	font-size: .7rem;
	text-align: center;
	padding: .85em;
}

img {
	max-width: 100%;
	margin-bottom: 2em;
}

small {
	font-style: italic;
	display: inline-block;
	font-size: .8rem;
	margin: 1.5em 0;
}

a {
	color: var(--primary);
	text-decoration: none;
	transition: .2s all;
}

a:hover {
	color: var(--primary-hover);
}

li {
	position: relative;
	color: var(--primary);
	list-style-type: none;
}

li > * {
	color: var(--base);
}

li > a {
	color: unset;
}

li > ul > li {
	list-style-type: none;
	padding-left: 1em;
}

li > ul > li:before {
	content: '•';
	font-size: 2rem;
	position: absolute;
	left: -27px;
}

li > ul > li:after {
	content: '';
	position: absolute;
	height: calc(100% - 9px);
	top: 9px;
	left: -18px;
	width: 2px;
	background-color: var(--primary);
}

.italic {
	font-style: italic;
}

/* Responsive iframes */
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
	margin-bottom: 2em;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Vertical rhythm stuff */
/* Generated by gridlover.net */

body, .article {
	font-size: 1rem;
	line-height: 1.2777778rem;
	margin: auto;
}

h1, .h1 {
	--minFontSize: 32px;
	--maxFontSize: 72px;
	--scaler: 10vw;
	/* Fluid heading size and a fallback*/
	font-size: 4.0555556rem;
	font-size: clamp( var(--minFontSize), var(--scaler), var(--maxFontSize) );
	font-weight: 700;
	line-height: 5.8333333rem;
	margin-top: 1.9444444rem;
	margin-bottom: 3.8888888rem;
}

h2, .h2 {
	font-size: 2.6111111rem;
	line-height: 3.8333333rem;
	margin-top: 1.2777778rem;
	margin-bottom: 1.2777778rem;
}

h3, .h3 {
	font-size: 1.6111111rem;
	font-weight: 700;
	line-height: 2.5555556rem;
	margin-top: 1.2777778rem;
	margin-bottom: 0rem;
}

h4, .h4 {
	font-size: 1rem;
	font-weight: 700;
	line-height: 1.2777778rem;
	margin-top: 1.2777778rem;
	margin-bottom: 0rem;
}

h5, .h5 {
	font-size: 1rem;
	line-height: 1.2777778rem;
	margin-top: 1.2777778rem;
	margin-bottom: 0rem;
}

p, ul, ol, pre, table, blockquote {
	margin-top: 0rem;
	margin-bottom: 1.2777778rem;
}

ul ul, ol ol, ul ol, ol ul {
	margin-top: 0rem;
	margin-bottom: 0rem;
}

hr, .hr {
	border: 1px solid;
	margin: -1px 0;
}

a, b, i, strong, em, small, code {
	line-height: 0;
}

sub, sup {
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

/* > 650px styles */
@media (min-width: 650px) {
	html, .root {
		font-size: 18px;
	}

	body {
		display: flex;
		justify-content: center;
	}

	.contain {
		max-width: 560px;
		margin: 0 auto;
	}

	.avatar {
		width: 150px;
		height: 150px;
	}

	li > ul > li:before {
		left: -28px;
	}
}

.toggle {
	display: flex;
	align-items: center;
	align-self: flex-end;
	justify-content: space-around;
	max-width: 140px;
	margin-right: 2em;
}

.toggle span {
	margin: 0 0.5rem;
}

.toggle input[type="checkbox"] {
	height: 0;
	width: 0;
	visibility: hidden;
}

.toggle input[type="checkbox"]:checked + label {
	background: var(--primary);
}

.toggle input[type="checkbox"]:checked + label:after {
	left: calc(100% - 2px);
	transform: translateX(-100%);
}

.toggle label {
	cursor: pointer;
	width: 50px;
	height: 25px;
	background: var(--base);
	display: block;
	border-radius: 40px;
	position: relative;
	margin-left: -.5rem;
}

.toggle label:after {
	content: "";
	position: absolute;
	top: 2px;
	left: 2px;
	width: 21px;
	height: 21px;
	background: var(--bg);
	border-radius: 40px;
	transition: 0.3s;
}

.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}
