/* http://meyerweb.com/eric/tools/css/reset/
	v2.0 | 20110126
	License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  letter-spacing: normal;
}

ol,
ul {
  margin-left: 1.2rem;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* End reset */

:root {
  --primary: #ff6948;
  --base: #404040;
  --bg: #ebece1;
  --primary-hover: #c25036;
}

::selection {
  color: var(--base);
  background: #d0d3c6;
}

[data-theme="dark"] {
  --bg: #161618;
  --base: #fbf6e9;
}

html {
  font-family: "Work Sans", monospace;
  scroll-behavior: smooth;
}

body {
  /* font-size: 1.6rem; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* background-image: url("public/bg.svg"); */
  background-color: var(--bg);
  color: var(--base);
}

[data-theme="dark"] body {
  background-image: url("public/bg-dark.svg");
}

section {
  margin-bottom: 6rem;
}

.contain {
  padding: 0 2rem 4rem;
}

.notice {
  display: block;
  text-align: center;
  background-color: var(--primary);
  padding: 0.85em;
  color: var(--base);
  max-width: 100%;
  margin: 0 0 2em 0;
}

.notice p {
  font-size: 0.8rem;
  margin: 0;
}

.notice a {
  color: var(--bg);
}

img {
  max-width: 100%;
  margin-bottom: 2rem;
}

small {
  font-family: "Work Sans";
  font-weight: 400;
  font-style: italic;
  display: inline-block;
  font-size: 0.8rem;
  margin: 1.5rem 0;
}

a {
  color: var(--primary);
  text-decoration: none;
  transition: 0.2s all;
}

a:hover {
  color: var(--primary-hover);
}

.italic {
  font-style: italic;
}

/* Responsive iframes */
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  margin-bottom: 2rem;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

html {
  font-size: 100%;
} /*16px*/

@media (min-width: 650px) {
  html {
    font-size: 125%;
  }
}

body {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  line-height: 1.3;
}

h1 {
  display: inline-block;
  background-image: linear-gradient(to right, #d0d3c6 0, #d0d3c6 100%);
  background-position: 0 2.2em;
  background-size: 100% 20%;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-top: 0;
  font-size: clamp(3rem, 9.1vw - 1.2rem, 7rem);
  /* font-size: 3.052rem; */
  font-weight: 600;
  letter-spacing: -0.25vw;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text_small {
  font-size: 0.8rem;
}

header {
  padding: 2rem;
}

/* > 650px styles */
@media (min-width: 650px) {
  /* html,
  .root {
    font-size: 18px;
  } */

  body {
    display: flex;
    justify-content: center;
  }

  header {
    display: flex;
    justify-content: center;
    padding: 4rem 2rem 6rem;
  }

  .contain {
    max-width: 560px;
    margin: 0 auto;
  }

  li > ul > li:before {
    left: -28px;
  }
}

@keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.tada {
  display: inline-block;
  animation: tada 1s forwards;
  animation-delay: 1s;
}
