---
// Component Imports
import PageWrap from '../components/PageWrap.vue'
import Resume from '../components/Resume.vue'

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<PageWrap>
  <header>
    <h1>Hey <span class="tada">👋</span><br /> I'm Josh Masen.</h1>
  </header>

  <main class="contain">
    <section>
      <p>I've been building stuff on the web for over 10 years. While I was in college studying graphic design, I taught myself to code and started building websites for freelance clients. By the time I earned my degree, I realized I was super passionate about writing code and creating on the web, so I started my career in web&nbsp;development.</p>

      <p>Here's what I've been up to since then, in resume-style reverse chronological order:</p>

      <Resume />
    </section>

    <!-- <Music /> -->
  </main>
</PageWrap>
