---
import BaseHead from '../components/BaseHead.astro'
import Jobs from '../components/Jobs.astro'
import Notice from '../components/Notice.astro'
import Toggle from '../components/Toggle.vue'
import Contact from '../components/Contact.astro'
import Footer from '../components/Footer.astro'
---
<html lang="en">
  <head>
    <BaseHead />
  </head>

  <body>
    <Notice />
    <Toggle client:load />

    <header>
      <h1>Hey <span class="tada">👋</span><br /> I'm Josh Masen.</h1>
    </header>

    <main class="contain">
      <section>
        <p>I've been building stuff on the web for over 10 years. While I was in college studying graphic design, I taught myself to code and started building websites for freelance clients. By the time I earned my degree, I realized I was super passionate about writing code and creating on the web, so I started my career in web&nbsp;development.</p>

        <p>Here's what I've been up to since then, in resume-style reverse chronological order:</p>

      </section>

      <Jobs />
    </main>
    <Contact />
    <Footer />
  </body>
</html>

