---
import Button from "./Button.astro";
---
<style>
.contact {
  display: flex;
  justify-content: center;
  padding: 0 2rem;
  margin-bottom: 4rem;
}
</style>

<div class="contact">
  <Button href="mailto:joshuamasen7@gmail.com"
    >Want to chat about your project? Email&nbsp;me!</Button
  >
</div>

