<section id="music">
  <h2>Music things</h2>
  <p>
    I've been playing guitar and writing, recording, and performing my own
    songs since I was a teenager. I released my debut solo album
    <span class="italic">It's a Wonder</span> in December of 2018 on streaming
    platforms and on vinyl.
  </p>

  <p>
    I still have a few copies of the album on vinyl. If you're interested in
    one, <a href="joshuamasen7@gmail.com">email me.</a>
  </p>

  <div class="videoWrapper">
    <iframe
      loading="lazy"
      title="Joshua Masen Spotify album stream"
      src="https://open.spotify.com/embed/album/27ugt0eQeUz3UzlVmODWzC"
      width="300"
      height="380"
      frameborder="0"
      allowtransparency="true"
      allow="encrypted-media"
    ></iframe>
  </div>

  <div class="videoWrapper">
    <iframe
      loading="lazy"
      title="Joshua Masen 'Million Dollar Bill' music video"
      width="560"
      height="315"
      src="https://www.youtube.com/embed/MIGav-fym5o"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>

  <div class="videoWrapper">
    <iframe
      loading="lazy"
      title="Joshua Masen 'All My Life' live music video"
      width="560"
      height="315"
      src="https://www.youtube.com/embed/pJK5Kd46_2o"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>

  <div class="videoWrapper">
    <iframe
      loading="lazy"
      title="Joshua Masen 'Waitin on a Change of Heart' music video"
      width="560"
      height="315"
      src="https://www.youtube.com/embed/bsF8_knoqQw"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
</section>