<style scoped>
.notice {
  display: block;
  text-align: center;
  background-color: var(--primary);
  padding: 0.85em;
  color: var(--base);
  max-width: 100%;
  margin: 0 0 2em 0;
}

[data-theme="dark"] .notice {
  color: var(--bg);
}

.notice p {
  font-size: 0.8rem;
  margin: 0;
}

.notice a {
  color: var(--bg);
}
</style>

<div class="notice">
  I've got some limited time available for freelance projects.
  <a href="mailto:joshuamasen7@gmail.com">Email&nbsp;me!</a>
</div>
