<style lang="scss" scoped>
.notice {
  display: block;
  text-align: center;
  background-color: var(--primary);
  padding: 0.85em;
  color: #2B2B2B;
  max-width: 100%;
  margin: 0 0 2em 0;
}

.notice p {
  font-size: 0.8rem;
  margin: 0;
}

.notice a {
  color: #2B2B2B;
  border-bottom: 2px solid #2B2B2B;

  &:hover {
    color: var(--base-light);
    border-bottom: 2px solid var(--base-light);
  }
}
</style>

<div class="notice">
  I've got some limited time available for freelance projects.
  <a href="mailto:joshuamasen7@gmail.com">Email&nbsp;me!</a>
</div>
